/* You can add global styles to this file, and also import other style files */
:root{
    --dark-colour: #000000;
    --light-colour: #FFFFFF;
    --gray-colour: #808080;
}

body{
    background-color:var(--dark-colour);
    color: var(--light-colour);
}